apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
type: Opaque
stringData:
  DATABASE_URL: "postgres://{{ .Values.postgresql.auth.username }}:{{ .Values.postgresql.auth.password }}@{{ .Release.Name }}-postgresql.default.svc.cluster.local:5432/{{ .Values.postgresql.auth.database }}?sslmode=disable"
  JWT_SECRET: {{ .Values.env.JWT_SECRET | quote }}
